<% content_for :header do %>
    <%= raw typescript_tag('dashboard') %>
<% end %>
<div class="grid grid-flow-col gap-3">
  <div class="col-span-1">
    <%= render 'samurai/dashboard/sidebar' %>
  </div>
  <div class="col-span-4">
    <div id="root"></div>
  </div>
</div>
